.lower__container{
  background-color:#232f3e;
  color: white;
}
.lower__container ul{
display: flex;
gap: 5px;
list-style: none;
}
.lower__container ul li{
padding: 8px;
margin-bottom: 0.2%;
}
.lower__container ul li:first-child{
  display: flex;
  gap: 2px;
  align-items: center;
}
.lower__container ul li:hover{
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
}
@media(max-width:768px){
  .lower__container ul li{
    font-size: 11px;
  }
}