.container {
  background-color: #efeeee;
  padding: 30px;
}

.order__container {
  background-color: #fff;
  padding: 20px;
   
}
.order_wrapper{
border-bottom: 1px solid black;
}
.order_wrapper > div{
  box-shadow:none !important ;
  display: flex;
      width: 100%;
      gap: 7%;
     
}
.order__container  h2 {
  border-bottom: 4px solid var(--primary-shade); /* --primary-shade is defined index.css */
  padding: 20px;
}
.order__container p{
  padding: 12px;
}
.order__container img{
  width: 100px !important
}
.order__container div{
  height: auto !important;
}